.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 5px;
    height: 40px;
    background-color: #3a5d73;
    display: flex;
    color: #ffffff;
    align-items: center;
    box-sizing: content-box;
}

.title {
    margin: 0 20px;
}
