.animation {
    position: fixed;
    left: 10%;
    top: 10%;
    border: 1px solid black;
    background-color: white;
    width: 80%;
    height: 80%;
    opacity: 0.8;
    z-index: 100000;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.row {
    display: flex;
}

.spring-config {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
}

.visibility-threshold {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
}

.close-icon {
    float: right;
}

.add-point-button {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.trajectory {
}
