body {
    margin: 0;
    padding: 0;
}

.fullWidthMediumHeight {
    height: 300px;
    width: 100%;
    box-sizing: content-box;
}

.fullWidthFullHeight {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
}

.abcd {
    height: 300px;
    flex-grow: 1;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
}

.borderdBox {
    flex-grow: 1;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/assets/font/Montserrat-Regular.ttf');
}

body {
    font-family: 'Montserrat';
}
