.rounded {
    border-radius: 10%;
    width: 90%;
    height: 90%;
}

.circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.square {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.icon {
    width: 40px;
    height: 40px;
}
